<a href="#" class="btn{{#if modifier }} btn--{{ modifier }}{{/if}}" href="{{ href }}">Link {{ text }}</a>
<br>
<button class="btn{{#if modifier }} btn--{{ modifier }}{{/if}}">Button {{ text }}</button>
<br>
<input class="btn{{#if modifier }} btn--{{ modifier }}{{/if}}" type="submit" name="submit" value="Input {{ text }}"/>
<hr>
