<fieldset class="input-list">
  <legend>{{ legend }}</legend>
  <ul>
    {{#each choices }}
    <li>
      <input type="radio" id="{{ this.id }}" name="{{ this.name }}" value="{{ this.value }}">
      <label for="{{ this.id }}">{{ this.label }}</label>
    </li>
    {{/each}}
  </ul>
</fieldset>
