<a href="#" 
  {{#if disabled}}disabled{{/if}} 
  class="btn{{#if modifier }} btn--{{ modifier }}{{/if}}" 
  href="{{ href }}">Link {{ text }}</a>
<button 
  {{#if disabled}}disabled{{/if}} 
  class="btn{{#if modifier }} btn--{{ modifier }}{{/if}}">Button {{ text }}</button>
